{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
   
    <div class="container">
        <h1 class="mt-4">Inscription</h1>
 
            <div class="mb-3">
                <label for="registrationForm_Firstname" class="form-label">{{ form_label(registrationForm.Firstname, 'Prénom', {'label_attr': {'class': 'foo'}}) }}</label>
                {{ form_widget(registrationForm.Firstname, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                <label for="registrationForm_Lastname" class="form-label">{{ form_label(registrationForm.Lastname, 'Nom', {'label_attr': {'class': 'foo'}}) }}</label>
                {{ form_widget(registrationForm.Lastname, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                <label for="registrationForm_email" class="form-label">{{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'foo'}}) }}</label>
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                <label for="registrationForm_adress" class="form-label">{{ form_label(registrationForm.Adress, 'Adresse', {'label_attr': {'class': 'foo'}}) }}</label>
                {{ form_widget(registrationForm.Adress, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                <label for="registrationForm_plainPassword" class="form-label">{{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'foo'}}) }}</label>
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="registrationForm_agreeTerms" class="">{{ form_label(registrationForm.agreeTerms, "J'accepte les conditions d'utilisation", {'label_attr': {'class': 'foo'}}) }}</label>
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check'}}) }}
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary justify-content-center">S'inscrire</button>
            </div>
            
    {{ form_end(registrationForm) }}
    
        <div class="d-flex justify-content-center mt-3">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <!-- Si l'utilisateur est déjà connecté, afficher un message ou le lien de déconnexion -->
                <p>Vous êtes déjà connecté en tant que {{ app.user.username }}</p>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <!-- Si l'utilisateur n'est pas connecté, afficher le lien pour se connecter -->
                <p>Déjà inscrit ?</p>
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </div>


{% endblock %}


